body {
    font-family: 'Lato';
}

.hr-decoration {
    width: 150px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 8%;
}

/* HEADER TOP */
.header-top-bg {
    background-color: #2c3e50;
}

.header-top-left, .header-top-right {
    color: white;
    height: 90px;
    line-height: 90px;
}

.header-top-left .title {
    font-weight: 800;
    font-size: 28px;
    width: 280px;
}

.top-navbar {
    margin-bottom: 0;
}

.header-top-right {
    text-align: right;
}

.top-navbar li {
    display: inline-block;
    margin-left: 20px;
}

.top-navbar li a {
    color: white;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
}

.header-top-right button {
    margin-right: 20px;
    color: grey;
    border: 1px solid white;
    border-radius: 15%;
    padding: 5px 9px;
}

/* HEADER BOTTOM */
.header-bottom-bg {
    background-color: #1abc9c;
}

.header-bottom {
    text-align: center;
    color: white;
}

.header-bottom .omino-image {
    width: 180px;
    height: 190px;
    display: inline-block;
    margin-top: 50px;
    background-image: url("../img/avataaars.svg");
}

.header-bottom h1 {
    font-weight: 600;
    font-size: 55px;
    margin-bottom: 30px;
}

.header-bottom .hr-decoration {
    border: 2px solid white;
}

.fa.fa-star {
    vertical-align: middle;
    margin-left: 30px;
    margin-right: 30px;
}

.header-bottom h3 {
    margin-bottom: 60px;
}

/* MAIN TOP */
.main-top-bg {
    background-color: white;
}

.main-top {
    text-align: center;
}

.main-top h1 {
    margin-top: 70px;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 46px;
}

.main-top2 img {
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
    border-radius: 10px;
}

.main-top2 {
    text-align: center;
}

.main-top {
    margin-bottom: 30px;
}

/* MAIN CENTRAL */
.main-central-bg {
    background-color: #1abc9c;
}

.main-central {
    padding-top: 50px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.main-central h1 {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 46px;
}

.main-central .hr-decoration {
    border: 2px solid white;
}

.main-central2 {
    margin-top: 10px;
    color: white;
    margin-bottom: 40px;
    font-weight: 500;
}

.main-central2 .text1 {
    margin-left: 90px;
    font-size: 20px;
}

.main-central2 .text2 {
    margin-right: 90px;
    font-size: 20px;
}

.button-download {
    text-align: center;
}

.btn.btn-outline-primary {
    display: inline;
    margin-right: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 18px;
}

.main-central-bg .container {
    padding-bottom: 60px;
}

/* MAIN BOTTOM */
.main-bottom-bg {
    background-color: white;
}

.main-bottom {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.main-bottom h1 {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 46px;
}

.main-bottom2 {
    margin-bottom: 50px;
}

.no-border {
    border: 0;
    box-shadow: none;
}

hr {
    margin-top: 0;
}

.form-control::placeholder {
  color: black;
  font-size: 18px;
}

.btn.btn-outline-light {
    display: inline;
    margin-right: 20px;
    background-color: #1abc9c;
    color: white;
    border: 1px solid white;
    font-size: 18px;
}

/* FOOTER TOP */
.footer-top-bg {
    background-color: #3a546d;
}

.footer-top {
    text-align: center;
    color: white;
    padding-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.footer-top p {
    font-size: 18px;
}

.footer-top a {
    color: #1abc9c;
}

.footer-top img {
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

/* FOOTER BOTTOM */
.footer-bottom-bg {
    background-color: #2c3e50;
}

.footer-bottom {
    text-align: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 50px;
}

/* CSS media */
@media screen and (max-width: 767px) {
    .row.header-top-right {
        text-align: right;
    }

    .main-top h1 {
        font-size: 3rem;
    }

    .main-central h1 {
        font-size: 3rem;
    }

    .main-bottom h1 {
        font-size: 3rem;
    }

    .main-central2 .text1 {
        margin-left: 90px;
        margin-right: 90px;
    }

    .main-central2 .text2 {
        margin-left: 90px;
        margin-right: 90px;
    }

    .footer-top {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .main-central2 .text1 {
        margin-left: 90px;
        margin-right: 90px;
    }

    .main-central2 .text2 {
        margin-left: 90px;
        margin-right: 90px;
    }

    .footer-top {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
